<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="WoWEntities" connectionString="metadata=res://*/WoWModel.csdl|res://*/WoWModel.ssdl|res://*/WoWModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=WoWModel.WoWDb;persist security info=True;user id=sa;password=Password#1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
        <add name="TdbConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=WoWModel.WoWDb;Persist Security Info=True;User ID=sa;Password=Password#1" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
